BasedOnStyle: Google
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
ColumnLimit: 100
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
SortIncludes: false
